<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>M.D.A.後台系統</title>

    <script src="https://kit.fontawesome.com/c6052fa518.js" crossorigin="anonymous"></script>
    @* <link href="~/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->

    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <title>@ViewData["Title"] - ServerMDA</title>
    @await RenderSectionAsync("Styles", required: false)
</head>


<body>


            <main role="main" class="pb-3 float-end">
                @RenderBody()
            </main>


    @await RenderSectionAsync("Scripts", required: false)
    <!--Bootstrap core JavaScript-->
    <script src="~/js/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/js/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/js/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/chart-area-demo.js"></script>
    <script src="~/js/chart-pie-demo.js"></script>
</body>
</html>
