@using ServerMDA.ViewModel
@model CMovieOneWayViewModel

@{
    ViewData["Title"] = "新增";
}


<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />

<h4>新增電影</h4>

<div class="row">
    <form asp-action="Create">
        <div class="col-md-12">
            <div class="d-flex flex-row">
                <div class="col-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="系列編號seriesId" class="control-label"></label>
                        <select asp-for="系列編號seriesId" name="系列名稱seriesName" class="form-control" asp-items="ViewBag.系列編號seriesId" id="selectDemoName">
                            @{
                                var g = @Model.系列名稱seriesName;
                                foreach (var i in Model.listseries)
                                {
                                    @if (i != g)
                                    {
                                        <option>@i</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="中文標題titleCht" class="control-label"></label>
                        <input asp-for="中文標題titleCht" value="" class="form-control" id="titleCh" />
                        <span asp-validation-for="中文標題titleCht" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="英文標題titleEng" class="control-label"></label>
                        <input asp-for="英文標題titleEng" value="" class="form-control" id="titleEn" />
                        <span asp-validation-for="英文標題titleEng" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="上映年份releaseYear" class="control-label"></label>
                        <input asp-for="上映年份releaseYear" value="" class="form-control" id="year" />
                        <span asp-validation-for="上映年份releaseYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="上映日期releaseDate" class="control-label"></label>
                        <input asp-for="上映日期releaseDate" value="" class="form-control" id="date" />
                        <span asp-validation-for="上映日期releaseDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="片長runtime" class="control-label"></label>
                        <input asp-for="片長runtime" value="" class="form-control" id="runtime" />
                        <span asp-validation-for="片長runtime" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label asp-for="電影分級編號ratingId" class="control-label"></label>
                        <select asp-for="電影分級編號ratingId" name="分級級數ratingLevel" class="form-control" asp-items="ViewBag.分級級數ratingLevel" id="selectRating"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="評分rate" class="control-label"></label>
                        <input id="rate" asp-for="評分rate" value="" class="form-control" />
                        <span asp-validation-for="評分rate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="期待度anticipation" class="control-label"></label>
                        <input asp-for="期待度anticipation" value="" class="form-control" id="anti" />
                        <span asp-validation-for="期待度anticipation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="票房boxOffice" class="control-label"></label>
                        <input asp-for="票房boxOffice" value="" class="form-control" id="box" />
                        <span asp-validation-for="票房boxOffice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="劇情大綱plot" class="control-label"></label>
                        <textarea rows="5" class="form-control" id="plot"></textarea>
                        <span asp-validation-for="劇情大綱plot" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="float:right">
                        <input type="submit" value="新增電影" class="btn btn-success" />
                        <button type="button" class="btn btn-dark" aria-label="Close" id="demo">Demo</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
                    </div>
                </div>
                <div class="col-5">
                    <a class="btn btn-details mb-1" id="btn" onclick="showmodal('@Url.Action("CreateActor","Movie", Context.Request.Scheme)',null)">導演</a>
                    <a class="btn btn-details mb-1" id="btn" onclick="showmodal('@Url.Action("CreateActor","Movie", Context.Request.Scheme)',null)">演員</a>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="modal fade" id="newstaticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-title">
                @*<div class="modal-header">
                <span type="button" id="btnClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
                </div>*@

            </div>
            <div class="modal-body">


            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="newstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*<div class="modal-header">*@
            @*<span type="button" id="btnClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>*@
            @*</div>*@
            <div class="modal-body">


            </div>
        </div>
    </div>
</div>

<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<script>

    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            },
        })
    }
</script>