@using Microsoft.AspNetCore.Http
@using System.Text.Json;

@using ServerMDA.ViewModel
@model List<CMovieOneWayViewModel>

@{
    ViewData["Title"] = "CreateActor";
    Layout = null;
}
<!-- Modal -->
@*<div class="modal fade" id="AddModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">*@
@using (Html.BeginForm("WatchListCreate", "Member"))
{
    <!--<div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="color:black">我的所有片單</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">-->
    <!--modal content start-->

    <table id="WatchList" class="table table-bordered">
        <thead>
            <tr>
                <th>片單</th>
                <th>移除</th>
            </tr>
        </thead>
        <tbody id="tableLists">
        </tbody>
    </table>


    <button type="button" id="btnAddList" class="site-btn btn-sm mt-3">
        <i class="fa fa-plus">新增</i>
    </button>
    <input type="text" list="typelist" class="form-control inputMovie" id="inputMovie" name="movieName" placeholder="演員名稱">
    <datalist id="typelist" class="typelist"></datalist>

    <small id="duplicate" style="color:darkgray"></small>

    <!--modal content end-->
    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" id="submitAddList">確定</button>
    @*</div>
    <div class="modal-footer">

    </div>
    </div>*@
}
@*</div>
    </div>*@
<!--modal end-->
<script>
    const inputName = document.querySelector("#inputMovie")
    const inputMovie = document.querySelectorAll(".inputMovie")
    const listData = document.querySelectorAll(".typelist")
    const btnAddList = document.querySelector("#btnAddList")

    @* 新增名單 *@
    btnAddList.addEventListener("click", async () => {
            const url = "@Url.Content("~/Movie/checkWatchList")"
            const params = `?name=${inputName.value}`
            let response = await fetch(url + params)  //resolve->response, reject
            let data = await response.text()
            if (inputName.value == "") {
                duplicate.textContent = "不可空白"
            }
            else if (data == 'True') {
                duplicate.textContent = "已有該演員"
            }
            else {
                duplicate.textContent = ""

                var tr = document.createElement('tr');
                tr.innerHTML =
                            `
                        <td>
                        <input type="hidden" class="id" name="listId" value="" />
                        <input type="text" class="form-control name" name="listName" value="${inputName.value}"/>
                        </td>
                        <td><button type="button" onclick="deleteRow(event)" class="btn btn-danger btn-sm delList"><i class="fas fa-trash-alt"></i></button></td>
                            `
                tableLists.appendChild(tr);

            }
        })

        @* autoCmp *@
        listData.forEach(item => {
            item.style.display="none"
        })

        inputMovie.forEach(item => {

            item.addEventListener("input", async () => {
                let keyword = item.value
                let results = await fetch("@Url.Content("~/Movie/autoCmpMovie")" + `?keyword=${keyword}`)
                let datas = await results.json()
                //console.log(datas)
                let htmlDatas = datas.map(data => {
                    return (
                        `
                <option onclick="read(event)">${data}</option>
                `)
                })
                listData.forEach(item => { item.innerHTML = htmlDatas.join("") })
            })
        })
</script>

@*刪除按鈕*@
<script>
    function deleteRow(event) {
        event.target.closest('tr').remove();
    }
</script>