@model ServerMDA.ViewModel.CMovieViewModel

@{
    ViewData["Title"] = "新增";
    Layout = null;
}


@*<div class="nav-item col-md-5 offset-md-1 mb-2">
        <input type="button" value="新增演員" id="insertActor" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal" />
    </div>*@

<h4 class="offset-md-1">新增電影</h4>
<div class="row">
    <div class="col-md-4 offset-md-1">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="系列編號seriesId" class="control-label"></label>
                <select asp-for="系列編號seriesId" name="系列名稱seriesName" class="form-control" asp-items="ViewBag.系列編號seriesId" id="selectSeriesName"></select>
            </div>
            <div class="form-group">
                <label asp-for="中文標題titleCht" class="control-label"></label>
                <input asp-for="中文標題titleCht" class="form-control" />
                <span asp-validation-for="中文標題titleCht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="英文標題titleEng" class="control-label"></label>
                <input asp-for="英文標題titleEng" class="form-control" />
                <span asp-validation-for="英文標題titleEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="上映年份releaseYear" class="control-label"></label>
                <input asp-for="上映年份releaseYear" class="form-control" />
                <span asp-validation-for="上映年份releaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="上映日期releaseDate" class="control-label"></label>
                <input asp-for="上映日期releaseDate" class="form-control" />
                <span asp-validation-for="上映日期releaseDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="片長runtime" class="control-label"></label>
                <input asp-for="片長runtime" class="form-control" />
                <span asp-validation-for="片長runtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
                @*<a asp-action="List" class="btn btn-secondary">回到清單</a>*@
            </div>
        </form>
    </div>
    @*//右邊================================================*@
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="電影分級編號ratingId" class="control-label"></label>
                <select asp-for="電影分級編號ratingId" name="分級級數ratingLevel" class="form-control" asp-items="ViewBag.分級級數ratingLevel" id="selectRating"></select>
            </div>
            <div class="form-group">
                <label asp-for="評分rate" class="control-label"></label>
                <input asp-for="評分rate" class="form-control" />
                <span asp-validation-for="評分rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="期待度anticipation" class="control-label"></label>
                <input asp-for="期待度anticipation" class="form-control" />
                <span asp-validation-for="期待度anticipation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="票房boxOffice" class="control-label"></label>
                <input asp-for="票房boxOffice" class="form-control" />
                <span asp-validation-for="票房boxOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="劇情大綱plot" class="control-label"></label>
                <textarea rows="5" asp-for="劇情大綱plot" class="form-control"></textarea>
                <span asp-validation-for="劇情大綱plot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-success mr-2 pr-4 offset-md-10" />
            </div>
        </form>
    </div>
    @*//右邊================================================*@
</div>
<!-- Modal -->
@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <input type="text" class="control-label bg-light border-0 small col-7" id="autoComplete">
                    <input type="button" class="btn btn-primary" value="新增演員" id="CompleteClick">
                </div>
                <div class="modal-body" id="contentActor">
                    ..............
                </div>
                <textarea rows="5" id="ListClick"></textarea>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">連結至電影</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>

                </div>
            </div>
        </div>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
            async function LoadRatings() {
                let selRating = document.querySelector("#selectRating")
                let response = await fetch("@Url.Content("~/Movie/rating")")
                let datas = await response.json()

                datas.forEach(rating => {
                const opt = new Option(rating, rating)
                selRating.options.add(opt)
            })
        };
            async function LoadseriesName() {
                let selSeries = document.querySelector("#selectSeriesName")
                let response = await fetch("@Url.Content("~/Movie/series")")
                let datas = await response.json()

                datas.forEach(seriesname => {
                const opt = new Option(seriesname, seriesname)
                selSeries.options.add(opt)
            })
        };

    LoadRatings();
    LoadseriesName();
</script>

@*<script>
    //closed.bs.alert
            const inputText = document.querySelector("#autoComplete")
            const txtActor = document.querySelector("#contentActor")
            const insActor = document.querySelector("#insertActor")
            const insList = document.querySelector("#ListClick")

            const listData = document.querySelector(".modal-body")
            listData.style.display = "none";
            inputText.addEventListener("input", async () => {
                const keyword = inputText.value
                listData.style.display = "block";

                /*
                                <div>
                    <button type="button" onclick="read(event)" class="btn outline-secondary">${data}</button>
                    </div>
                 *
                 *
                 *
                 <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
      <label class="form-check-label" for="flexCheckIndeterminate">${data}</label>
    </div>
                 */

                let response = await fetch("@Url.Content("~/Actor/keywordActors")"+`?keyword=${keyword}`) ///A/products?keyword=ca
                let result = await response.json()
                let htmDatas = result.map(data => {
                    return (
                        `
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" onclick="read(event)" value="" id="flexCheckIndeterminate">
                          <label class="form-check-label" for="flexCheckIndeterminate">${data}</label>
                        </div>
                        `
                    )
                })
                listData.innerHTML = htmDatas.join("")
            })

            function read(evt) {
                //inputText.value = evt.target.textContent

                insList.value += evt.target.textContent
                //listData.style.display = "none"
            }
            //insActor.addEventListener('click', () => {
            //    txtActor.innerHTML = `


            //            `
            //})
        </script>*@

