@model ServerMDA.Models.演員總表actor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>演員總表actor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="演員編號actorsId" />
            <div class="form-group">
                <label asp-for="中文名字nameCht" class="control-label"></label>
                <input asp-for="中文名字nameCht" class="form-control" />
                <span asp-validation-for="中文名字nameCht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="英文名字nameEng" class="control-label"></label>
                <input asp-for="英文名字nameEng" class="form-control" />
                <span asp-validation-for="英文名字nameEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="演員照片image" class="control-label"></label>
                <input asp-for="演員照片image" class="form-control" />
                <span asp-validation-for="演員照片image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

