@model ServerMDA.Models.電影院theater

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>電影院theater</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="電影院名稱theaterName" class="control-label"></label>
                <input asp-for="電影院名稱theaterName" class="form-control" />
                <span asp-validation-for="電影院名稱theaterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="影城編號mainTheaterId" class="control-label"></label>
                <select asp-for="影城編號mainTheaterId" class ="form-control" asp-items="ViewBag.影城編號mainTheaterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="營業時間businessHours" class="control-label"></label>
                <input asp-for="營業時間businessHours" class="form-control" />
                <span asp-validation-for="營業時間businessHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="電話phone" class="control-label"></label>
                <input asp-for="電話phone" class="form-control" />
                <span asp-validation-for="電話phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="地址address" class="control-label"></label>
                <input asp-for="地址address" class="form-control" />
                <span asp-validation-for="地址address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="官方網站url" class="control-label"></label>
                <input asp-for="官方網站url" class="form-control" />
                <span asp-validation-for="官方網站url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="電影院照片image" class="control-label"></label>
                <input asp-for="電影院照片image" class="form-control" />
                <span asp-validation-for="電影院照片image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-success mr-2" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
