@using ServerMDA.ViewModel
@model CTheaterViewModel

@{
    ViewData["Title"] = "新增";
    Layout = null;
}


<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />


<h4 class="offset-1">新增電影院</h4>
<div class="row">
    <div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="d-flex flex-row">
                <div class="col-5 offset-1">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="電影院名稱theaterName" class="control-label"></label>
                        <input asp-for="電影院名稱theaterName" value="" class="form-control" />
                        <span asp-validation-for="電影院名稱theaterName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="影城編號mainTheaterId" class="control-label"></label>
                        <select asp-for="影城編號mainTheaterId" name="影城名稱mainTheaterName" class="form-control" asp-items="ViewBag.影城編號mainTheaterId">
                            <option></option>
                            @{ 
                                var q = Model.影城名稱mainTheaterName;
                                foreach (var p in Model.titleTheater)
                                {
                                    if (p != q) 
                                    { 
                                        <option>@p</option>
                                    }
                                }

                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="營業時間businessHours" class="control-label"></label>
                        <input asp-for="營業時間businessHours" value="" class="form-control" />
                        <span asp-validation-for="營業時間businessHours" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="電話phone" class="control-label"></label>
                        <input asp-for="電話phone" value="" class="form-control" />
                        <span asp-validation-for="電話phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="地址address" class="control-label"></label>
                        <input asp-for="地址address" value="" class="form-control" />
                        <span asp-validation-for="地址address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="官方網站url" class="control-label"></label>
                        <input asp-for="官方網站url" value="" class="form-control" />
                        <span asp-validation-for="官方網站url" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="float:right">
                        <input type="submit" value="新增電影院" class="btn btn-success mr-2" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label">電影院照片</label><br />
                        <input type="file" name="photo" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
