
@{
    ViewData["Title"] = "PBI";
}
<style>
    .pbi{
        width:1400px;
    }
</style>

<div class="pbi">
    <iframe title="Report Section" width="1680" height="850" src="https://app.powerbi.com/view?r=eyJrIjoiOTE1YWVkYTMtODNiNC00YzBiLTliYjMtOGQ4YTFjZmEwZmUxIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>
