@using ServerMDA.ViewModel
@model CCreateMultPictureViewModel


@{
    ViewData["Title"] = "新增";
    Layout = null;
}



<div class="row">
    <div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="d-flex flex-row">
                <div class="col-5">
                    <h4 class="offset-md-2">新增電影圖片</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="圖片類型imageType" class="control-label"></label>
                        <select asp-for="圖片類型imageType" class="form-control">
                            <option selected></option>
                            @{
                                var g = @Model.圖片類型imageType;
                                foreach (var i in Model.listImagetype)
                                {
                                    @if (i != g)
                                    {
                                        <option>@i</option>

                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="圖片類型imageType" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="電影名稱movieName" class="control-label"></label>
                        <select asp-for="電影名稱movieName" name="中文標題titleCht" class="form-control" id="movieid">
                            <option></option>
                            @{
                                int i = 0;
                                foreach (var r in Model.titleChtList)
                                {
                                    
                                    <option>@r</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="屏蔽invisible" class="control-label"></label>
                        <select asp-for="屏蔽invisible" name="屏蔽invisible" class="form-control">
                            <option></option>
                            @{
                                foreach (var r in Model.listinvisible)
                                {

                                    <option>@r</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="屏蔽invisible" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="float:right">
                        <input type="submit" value="新增" class="btn btn-success mr-2" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
                    </div>
                </div>
                <div class="col-7">
                    <div id="pic_group">
                        <div class="form-group">
                            <div class="d-flex flex-row">
                                <div>
                                    <input type="file" id="Upload_File" name="photo" class="calc-select btn btn-warning" multiple>
                                </div>
                                <div>
                                    <p style="display:inline" id="Upload_File_Count">　</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div>
                                    <img id="myimg0" width="200" class="p-1" />
                                </div>
                                <div>
                                    <img id="myimg1" width="200" class="p-1" />
                                </div>
                                <div>
                                    <img id="myimg2" width="200" class="p-1" />
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div>
                                    <img id="myimg3" width="200" class="p-1" />
                                </div>
                                <div>
                                    <img id="myimg4" width="200" class="p-1" />
                                </div>
                                <div>
                                    <img id="myimg5" width="200" class="p-1" />
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div>
                                    <img id="myimg6" width="200" class="p-1" />
                                </div>
                                <div>
                                    <img id="myimg7" width="200" class="p-1" />
                                </div>
                                <div>
                                    <img id="myimg8" width="200" class="p-1" />
                                </div>
                            </div>


                        </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(".calc-select").on('change', function checkFiles() {
        const hint = document.getElementById("Upload_File_Count");
        let count = document.getElementById("Upload_File").files.length;


        const file = document.getElementById("Upload_File").files;
        for (let i = 0; i < file.length+1; i++) {
            let objectURL = URL.createObjectURL(file[i]);
            $(`#myimg${i}`).attr('src', objectURL);
        }
/*        hint.innerText = `上傳${count}張照片`;*/
    })

</script>