@model ServerMDA.Models.導演總表director

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>導演總表director</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name="導演編號directorId" value="@Model.導演編號directorId" />
            </div>
            <div class="form-group">
                <label asp-for="中文名字nameCht" class="control-label"></label>
                <input asp-for="中文名字nameCht" class="form-control" />
                <span asp-validation-for="中文名字nameCht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="英文名字nameEng" class="control-label"></label>
                <input asp-for="英文名字nameEng" class="form-control" />
                <span asp-validation-for="英文名字nameEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">導演照片</label>
                <input type="file" name="photo" />
            </div>
            @*<div class="form-group">
                <label asp-for="導演照片imagepath" class="control-label"></label>
                <input asp-for="導演照片imagepath" class="form-control" />
                <span asp-validation-for="導演照片imagepath" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
