@using ServerMDA.ViewModel
@model List<CMovieLanguageViewModel>

@{
    ViewData["Title"] = "電影語言";
}

<h3>電影語言<a asp-action="Create" class="btn btn-success mb-1  ml-2">新增</a></h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().語言名稱languageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.語言名稱languageName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.語言編號languageId" class="btn btn-yuka mb-1" style="white-space:nowrap">修改</a>
                </td>
            </tr>
        }
    </tbody>
</table>


