@model ServerMDA.Models.電影評論movieComment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>電影評論movieComment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="評論編號commentId" />
            <div class="form-group">
                <label asp-for="會員編號memberId" class="control-label"></label>
                <input asp-for="會員編號memberId" class="form-control" />
                <span asp-validation-for="會員編號memberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="電影編號movieId" class="control-label"></label>
                <select asp-for="電影編號movieId" class="form-control" asp-items="ViewBag.電影編號movieId"></select>
                <span asp-validation-for="電影編號movieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="評分rate" class="control-label"></label>
                <input asp-for="評分rate" class="form-control" />
                <span asp-validation-for="評分rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="期待度anticipation" class="control-label"></label>
                <input asp-for="期待度anticipation" class="form-control" />
                <span asp-validation-for="期待度anticipation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="評論標題commentTitle" class="control-label"></label>
                <input asp-for="評論標題commentTitle" class="form-control" />
                <span asp-validation-for="評論標題commentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="評論內容comments" class="control-label"></label>
                <input asp-for="評論內容comments" class="form-control" />
                <span asp-validation-for="評論內容comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="發佈時間commentTime" class="control-label"></label>
                <input asp-for="發佈時間commentTime" class="form-control" />
                <span asp-validation-for="發佈時間commentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="觀影日期viewingTime" class="control-label"></label>
                <input asp-for="觀影日期viewingTime" class="form-control" />
                <span asp-validation-for="觀影日期viewingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="觀影方式source" class="control-label"></label>
                <input asp-for="觀影方式source" class="form-control" />
                <span asp-validation-for="觀影方式source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="公開等級編號publicId" class="control-label"></label>
                <input asp-for="公開等級編號publicId" class="form-control" />
                <span asp-validation-for="公開等級編號publicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="是否開放討論串oxFloor" class="control-label"></label>
                <input asp-for="是否開放討論串oxFloor" class="form-control" />
                <span asp-validation-for="是否開放討論串oxFloor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="屏蔽invisible" class="control-label"></label>
                <input asp-for="屏蔽invisible" class="form-control" />
                <span asp-validation-for="屏蔽invisible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="檢舉report" class="control-label"></label>
                <input asp-for="檢舉report" class="form-control" />
                <span asp-validation-for="檢舉report" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
< !--Bootstrap core JavaScript-->
<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script src="~/js/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/js/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/js/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/js/chart-area-demo.js"></script>
<script src="~/js/chart-pie-demo.js"></script>
