@model ServerMDA.Models.片種總表totalType

@{
    ViewData["Title"] = "新增";
    Layout = null;
}

<link href="~/css/bootstrap-5.2.2/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />

<h4 >新增片種</h4>

<div class="row">
    <div >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="片種名稱totalTypeName" class="control-label"></label>
                <input asp-for="片種名稱totalTypeName" class="form-control" />
                <span asp-validation-for="片種名稱totalTypeName" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:right">
                <input type="submit" value="新增片種" class="btn btn-success mr-2" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/vendor/datatables/jquery.dataTables.js"></script>