@using ServerMDA.ViewModel
@model CTheaterViewModel

@{
    ViewData["Title"] = "ProductChartTwo";
}
<style>
    .container {
        width:1700px;
        /*height:1100px;*/
    }
</style>
<!-- Content Wrapper -->


<iframe title="後台首頁" width="600" height="373" src="https://app.powerbi.com/view?r=eyJrIjoiMzE5NGQxZGYtNzUxNS00NmM5LWI1ZWItNmU0MWExMGJlOGFmIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D&pageName=ReportSection763ac863ef289265d88c" frameborder="0" allowFullScreen="true"></iframe>

    @*<iframe title="後台首頁 - 收入" width="1880" height="1200" src="https://app.powerbi.com/view?r=eyJrIjoiMzE5NGQxZGYtNzUxNS00NmM5LWI1ZWItNmU0MWExMGJlOGFmIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>*@
  <!--<div id="content">


        <!-- Begin Page Content -->
    <!--<div class="container-fluid">
        <div class="row">-->
    <!-- Area Chart -->
    <!--<div class="col-8">
        <div class="card shadow mb-4">-->
    <!-- Card Header - Dropdown -->
    <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <div class="d-flex flex-row">
            <div class="mt-2 mr-2">
                <h6 class="m-0 font-weight-bold fs-3 text-primary">收益 曲線圖</h6>
            </div>
            <div>
                <select id="select1" name="電影院名稱theaterName" class="form-select fs-5">
                    <option>請選擇您要查詢的電影院</option>
                    @{
                        //foreach (var item in Model.titleTheater)
                        {
                            <option class="myclass">  </option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">收入來源:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>-->
    <!-- Card Body -->
    <!--<div class="card-body">
                <div class="chart-area" style="height:400px">
                    <canvas class="h-100" id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Pie Chart -->
    <!--<div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">-->
    <!-- Card Header - Dropdown -->
    <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">收入來源</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>-->
    <!-- Card Body 收益圖 -->@*-->*@
    <!--@*<div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> 廠商廣告
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i> 電影票
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-info"></i> 周邊商品
                            </span>
                        </div>
                    </div>*@
            <!--</div>
        </div>
    </div>-->
    <!-- #region 備註 -->
    <!-- Content Row -->
    <!--</div>-->
    @*/.container-fluid*@

    @*</div>-->*@
    <!--End of Main Content-->



<!-- End of Content Wrapper -->
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<!-- #endregion 備註 -->
@*<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>*@

<!-- Logout Modal-->
@*<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Login">Logout</a>
            </div>
        </div>
    </div>
</div>*@





@section Scripts{
    <script src="~/wencssjs/chart.js/Chart.js"></script>
    <script src="~/wencssjs/chart.js/utils.js"></script>


    <script>
    var ctx = document.getElementById('myChart')
    const selects = document.querySelectorAll(".myclass")
    const theatername = document.getElementById("theatername")
    const S = document.getElementById("select1")



    S.addEventListener("change", async () => {

    let mytheater = S.options[S.selectedIndex].value
        console.log(mytheater)
    let response = await fetch("@Url.Content("~/List/HomePage")" + `?theatername=${mytheater}`)
    let datas = await response.json()

    let arrT = new Array()
    let arrC = new Array()

    for (let i = 0, max = datas.length; i < max; i++) {
        let mydata = datas[i].商品名稱
        console.log(datas[i].商品名稱)
        let mycount = datas[i].數量
        arrT.push(mydata)
        arrC.push(mycount)
    }

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: arrT,
            datasets: [{

                    borderColor: window.chartColors.red,
                    backgroundColor: window.chartColors.red,
                    borderWidth: 1,
                    label: '數量',
                    data: arrC
                }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        responsive: true //符合響應式
                    }
                }]
            }
        }

    });
    })
    </script>
}


