<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>M.D.A.後台系統</title>
    <link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />
    <style>
        /*.backgroundcolor {
            background: #262626;*/ /* fallback for old browsers */
            /*background: -webkit-linear-gradient(to right, #b6fbff, #262626);*/ /* Chrome 10-25, Safari 5.1-6 */
            /*background: linear-gradient(to right,#000000,#000000,#ffffff,#ffffff);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*}*/
    </style>
    <link href="~/css/bootstrap-5.2.2/bootstrap.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c6052fa518.js" crossorigin="anonymous"></script>
    @* <link href="~/css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->

    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <title>@ViewData["Title"] - ServerMDA</title>
    @await RenderSectionAsync("Styles", required: false)
</head>


<body>


    <!-- sidebar Start -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion overflow-scroll" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="https://localhost:44345/">
            <img id="logo1" src="~/images/MDA_LOGO.png" style="height:40px;position:fixed" />
            <img id="logo2" src="~/images/MDA_LOGO.png" style="height:25px" />
            @*<div class="sidebar-brand-text mx-2">MDA</div>*@
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" asp-area="" asp-controller="HomePage" asp-action="List">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>總表清單</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading text-white">
            電影院資料庫
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-film"></i>
                <span>電影</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header text-gray-600">電影管理:</h6>
                    <a class="collapse-item" asp-area="" asp-controller="Movie" asp-action="List">電影</a>@**下面的項目應該都要合併在同一個頁面管理*@
                    <a class="collapse-item" asp-area="" asp-controller="MovieImage" asp-action="List">電影海報、劇照</a>
                    <a class="collapse-item" asp-area="" asp-controller="MovieOrigin" asp-action="List">電影產地</a>
                    <a class="collapse-item" asp-area="" asp-controller="MovieLanguage" asp-action="List">電影語言</a>
                    <a class="collapse-item" asp-area="" asp-controller="MovieType" asp-action="List">電影分類(片種)</a>
                    <a class="collapse-item" asp-area="" asp-controller="MovieRating" asp-action="List">電影分級</a>
                    <a class="collapse-item" asp-area="" asp-controller="Director" asp-action="List">導演</a>
                    <a class="collapse-item" asp-area="" asp-controller="Actor" asp-action="List">演員</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKwo"
               aria-expanded="true" aria-controls="collapseKwo">
                <i class="fas fa-fw fa fa-github-alt"></i>
                <span>影城</span>
            </a>

            <div id="collapseKwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header text-gray-600">影城管理:</h6>
                    <a class="collapse-item" asp-area="" asp-controller="Theater" asp-action="List">電影院</a>
                    <a class="collapse-item" asp-area="" asp-controller="Cinema" asp-action="List">影廳</a>
                    <a class="collapse-item" href="cards.html">場次</a>
                    <a class="collapse-item" href="cards.html">座位資訊</a>
                    <a class="collapse-item" asp-area="" asp-controller="票種ticketType" asp-action="Index">票種、票價</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct"
               aria-expanded="true" aria-controls="collapseProduct">
                <i class="fas fa-fw fa-ticket"></i>
                <span>商店</span>
            </a>
            <div id="collapseProduct" class="collapse" aria-labelledby="headingproduct"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header text-gray-600">商店管理:</h6>

                    <a class="collapse-item" asp-area="" asp-controller="product" asp-action="ProductList">影城商店</a>
                    <a class="collapse-item" asp-area="" asp-controller="product" asp-action="ProductList">影城商品</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu /*fa-wrench*/ -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-ticket"></i>
                <span>活動、票券</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header text-gray-600">票券管理:</h6>
                    <a class="collapse-item" asp-area="" asp-controller="Coupon" asp-action="List">優惠券總表</a>
                    <a class="collapse-item" asp-area="" asp-controller="Coupon" asp-action="List">會員優惠券</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading text-white">
            會員專區
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-user-circle"></i>
                <span>會員管理系統</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">會員管理:</h6>
                    <a class="collapse-item" asp-area="" asp-controller="Member" asp-action="List">會員資訊</a>
                    <a class="collapse-item" asp-area="" asp-controller="MyMovieList" asp-action="List">片單管理</a>
                    <a class="collapse-item" asp-area="" asp-controller="MyFollowList" asp-action="List">追蹤管理</a>
                    <a class="collapse-item" href="forgot-password.html">權限管理</a>
                    <a class="collapse-item" href="forgot-password.html">訂單管理</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2"
               aria-expanded="true" aria-controls="collapsePages2">
                @*<a class="nav-link" asp-area="" asp-controller="Comment" asp-action="List">*@
                <i class="fas fa-fw fa-commenting"></i>
                <span>評論管理系統</span>
            </a>
            <div id="collapsePages2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">評論管理:</h6>
                    <a class="collapse-item" asp-area="" asp-controller="Comment" asp-action="List">評論管理</a>
                    <a class="collapse-item" href="register.html">留言管理</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages3"
               aria-expanded="true" aria-controls="collapsePages3">
                <i class="fas fa-fw fa-commenting"></i>
                <span>客服管理系統</span>
            </a>
            <div id="collapsePages3" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">客服管理:</h6>
                    <a class="collapse-item" href="forgot-password.html">檢舉管理</a>
                    <a class="collapse-item" href="forgot-password.html">來信管理</a>
                    @*<a class="collapse-item" href="forgot-password.html">留言板管理</a>*@
                    <a class="collapse-item" href="forgot-password.html">AI小幫手管理</a>
                </div>
            </div>
        </li>


        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages4"
               aria-expanded="true" aria-controls="collapsePages4">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>報表:</span>
            </a>
            <div id="collapsePages4" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">報表:</h6>
                    <a class="collapse-item" asp-area="" asp-controller="PBI" asp-action="PBI">PBI</a>
                    <a class="collapse-item" asp-area="" asp-controller="product" asp-action="ProductChartSample">商品上架統計表</a>
                    <a class="collapse-item" asp-area="" asp-controller="product" asp-action="ProductChartTwo">商品銷售數量統計表</a>
                </div>
            </div>

        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle" onclick="sidebarToggle"></button>
        </div>


        <!-- Sidebar Message -->
        @*<div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
        </div>*@

    </ul>
    <!-- sidebar End -->
    <div class="divPosition">
        <!-- TopBar Start -->

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow backgroundcolor">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-5 my-2 my-md-0 mw-100 navbar-search">
                @*<div class="input-group offset-md-1">
                    <div class="input-group-append">
                        @Html.TextBox("txtkeyword", "", new { @class = "form-control bg-light border-0 small" })
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit" value="Search" />
                        </div>
                    </div>
                </div>*@
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">狀態中心</h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">10月11日, 2022</div>
                                <span class="font-weight-bold">前台網頁製作模組完成</span>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-success">
                                    <i class="fas fa-donate text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">09月08日, 2022</div>
                                專題期中報告
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-warning">
                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">07月20日, 2022</div>
                                特別時刻! M.D.A. 專案小組啟動!!
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                </li>

                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <!-- Counter - Messages -->
                        <span class="badge badge-danger badge-counter">7</span>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">訊息中心</h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="~/images/mem01.png" alt="...">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">
                                    大家加油!!
                                </div>
                                <div class="small text-gray-500">游曉雯 · 58m</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="~/images/mem02.png" alt="...">
                                <div class="status-indicator"></div>
                            </div>
                            <div>
                                <div class="text-truncate">
                                    姊姊~ 今天要訂披薩嗎，我想吃!!!
                                </div>
                                <div class="small text-gray-500">陳苡錚 · 1d</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="~/images/mem03.png" alt="...">
                                <div class="status-indicator bg-warning"></div>
                            </div>
                            <div>
                                <div class="text-truncate">
                                    吼呦~ 我老公又加班了!! 整天在那邊寫code!!
                                </div>
                                <div class="small text-gray-500">洪暐婷 · 2d</div>
                            </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="~/images/cat01.png" alt="...">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div>
                                <div class="text-truncate">
                                    今天我想早點回去..  可以嗎?
                                </div>
                                <div class="small text-gray-500">王婷薇 · 2w</div>
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Administrator</span>
                        <img class="img-profile rounded-circle" src="~/images/MEMBER.png">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>狀態</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>設定</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>登出</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- TopBar End -->
        <!-- RenderBody Start -->
        <div class="container col-12">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <!-- RenderBody End -->
        <!-- Footer Start -->
        <footer class="sticky-footer bg-white ">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2022</span>
                </div>
            </div>
        </footer>
        <!-- Footer End -->
    </div>


    @await RenderSectionAsync("Scripts", required: false)
    <!--Bootstrap core JavaScript-->
    <script src="~/js/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/js/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/js/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/chart-area-demo.js"></script>
    <script src="~/js/chart-pie-demo.js"></script>

    <script src="/jquery/jquery-1.11.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#sidebarToggle").click(function () {
                $("#logo1").toggle();
            });
        });
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="~/js/bootstrap-5.2.2/bootstrap.bundle.min.js"></script>
</body>
</html>
