@using ServerMDA.ViewModel
@model CCouponViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <form asp-action="Create">
        <div>
            <h4>優惠總表coupon</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="優惠名稱couponName" class="control-label"></label>
                <input asp-for="優惠名稱couponName" class="form-control" />
                <span asp-validation-for="優惠名稱couponName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="優惠折扣couponDiscount" class="control-label"></label>
                <input asp-for="優惠折扣couponDiscount" class="form-control" />
                <span asp-validation-for="優惠折扣couponDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="優惠代碼couponCode" class="control-label"></label>
                <input asp-for="優惠代碼couponCode" class="form-control" />
                <span asp-validation-for="優惠代碼couponCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="優惠截止日期couponDueDate" class="control-label"></label>
                <input asp-for="優惠截止日期couponDueDate" class="form-control" />
                <span asp-validation-for="優惠截止日期couponDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="優惠所需紅利bonusCost" class="control-label"></label>
                <input asp-for="優惠所需紅利bonusCost" class="form-control" />
                <span asp-validation-for="優惠所需紅利bonusCost" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:right">
                <input type="submit" value="新增" class="btn btn-success" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
