@model ServerMDA.Models.優惠總表coupon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>優惠總表coupon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="優惠名稱couponName" class="control-label"></label>
                <input asp-for="優惠名稱couponName" class="form-control" />
                <span asp-validation-for="優惠名稱couponName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="優惠折扣couponDiscount" class="control-label"></label>
                <input asp-for="優惠折扣couponDiscount" class="form-control" />
                <span asp-validation-for="優惠折扣couponDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="優惠代碼couponCode" class="control-label"></label>
                <input asp-for="優惠代碼couponCode" class="form-control" />
                <span asp-validation-for="優惠代碼couponCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="優惠截止日期couponDueDate" class="control-label"></label>
                <input asp-for="優惠截止日期couponDueDate" class="form-control" />
                <span asp-validation-for="優惠截止日期couponDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="優惠所需紅利bonusCost" class="control-label"></label>
                <input asp-for="優惠所需紅利bonusCost" class="form-control" />
                <span asp-validation-for="優惠所需紅利bonusCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
