@using ServerMDA.ViewModel
@model CCommentImageViewModel

@{
    ViewData["Title"] = "新增評論圖片";
    Layout = null;
}

<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />



<div class="row">
    <form asp-action="Create" enctype="multipart/form-data">
        <div>
            <div>
                <h4>新增評論圖片</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-7 offset-2">
                    <img id="myimg" height="400" class="p-2" />
                </div>
                <div class="form-group">
                    <input id="myfile" type="file" onchange="selectimgFile(this.files)" name="photo" />
                </div>
                <div class="form-group">
                    <div class="d-flex flex-row">
                        <div class="mr-3 mt-1">
                            <label asp-for="屏蔽invisible" class="control-label"></label>
                        </div>
                        <div>
                            <input asp-for="屏蔽invisible" value="@Model.屏蔽invisible" class="form-control" />
                            <span asp-validation-for="屏蔽invisible" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="新增" class="btn btn-success mr-2" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function selectimgFile(files) {
        const myfile = document.querySelector("#myfile")
        const myimg = document.querySelector("#myimg")
        let mynewimg = files[0]
        let objURL = URL.createObjectURL(mynewimg)
        myimg.src = objURL
    }
</script>

<script src="~/js/vendor/datatables/jquery.dataTables.js"></script>