@model ServerMDA.Models.會員member

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>會員member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="會員電話cellphone" class="control-label"></label>
                <input asp-for="會員電話cellphone" class="form-control" />
                <span asp-validation-for="會員電話cellphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="密碼password" class="control-label"></label>
                <input asp-for="密碼password" class="form-control" />
                <span asp-validation-for="密碼password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="姓氏lName" class="control-label"></label>
                <input asp-for="姓氏lName" class="form-control" />
                <span asp-validation-for="姓氏lName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="名字fName" class="control-label"></label>
                <input asp-for="名字fName" class="form-control" />
                <span asp-validation-for="名字fName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="暱稱nickName" class="control-label"></label>
                <input asp-for="暱稱nickName" class="form-control" />
                <span asp-validation-for="暱稱nickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="生日birthDate" class="control-label"></label>
                <input asp-for="生日birthDate" class="form-control" />
                <span asp-validation-for="生日birthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="性別gender" class="control-label"></label>
                <select asp-for="性別gender" class ="form-control" asp-items="ViewBag.性別gender"></select>
            </div>
            <div class="form-group">
                <label asp-for="電子信箱email" class="control-label"></label>
                <input asp-for="電子信箱email" class="form-control" />
                <span asp-validation-for="電子信箱email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="地址address" class="control-label"></label>
                <input asp-for="地址address" class="form-control" />
                <span asp-validation-for="地址address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="紅利點數bonus" class="control-label"></label>
                <input asp-for="紅利點數bonus" class="form-control" />
                <span asp-validation-for="紅利點數bonus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="正式會員formal" /> @Html.DisplayNameFor(model => model.正式會員formal)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="會員權限permission" class="control-label"></label>
                <select asp-for="會員權限permission" class ="form-control" asp-items="ViewBag.會員權限permission"></select>
            </div>
            <div class="form-group">
                <label asp-for="會員照片image" class="control-label"></label>
                <input asp-for="會員照片image" class="form-control" />
                <span asp-validation-for="會員照片image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

